*.dcu
*.bpl
*.dcp
*.res
*.cfg
*.identcache
*.local
*.tvsconfig
*.obj
*.map
*.tds
*.exe
*.dll
*.lib
*.so
*.ocx
*.ini
*.log
*.bak
__history/
Debug/
Release/
Win32/
Win64/
.idea/
.vscode/